tulipes-black = #262626
tulipes-grey = #F2F2F2
tulipes_blue = #193DC5
tulipes-darker-blue = #121B9D
tulipes-green = #49F9C4
tulipes-darker-green = #23E2A2
tulipes-yellow = #FFFD38
tulipes-darker-yellow = #FFE12E
tulipes-pink = #FFA5A5
tulipes-darker-pink = #F47676