For-xs-phone-only()
  @media (max-width: 320px)
    {block}

For-xs-phone-up()
  @media (min-width: 321px)
    {block}

For-s-phone-only()
  @media (max-width: 414px)
    {block}

For-s-phone-up()
  @media (min-width: 415px)
    {block}

For-phone-only()
  @media (max-width: 599px)
    {block}

For-phone-up()
  @media (min-width: 600px)
    {block}

For-tablet-only()
  @media (max-width: 868px)
    {block}

For-tablet-up()
  @media (min-width: 869px)
    {block}

For-large()
  @media (max-width: 1100px)
    {block}

For-large-up()
  @media (min-width: 1101px)
    {block}

For-extra-large()
  @media (max-width: 1279px)
    {block}

For-extra-large-up()
  @media (min-width: 1280px)
    {block}

For-wide()
  @media (max-width: 1440px)
    {block}

For-wide-up()
  @media (min-width: 1441px)
    {block}

For-giga-up()
  @media (min-width: 2160px)
    {block}




For-small-height-only()
  @media (max-height: 600px)
    {block};
