font-face(path, name)
  @font-face
    font-family: name;
    src: url(fonts_path + '' + path + '.eot') format('eot'),
         url(fonts_path + '' + path + '.otf') format('otf'),
         url(fonts_path + '' + path + '.woff') format('woff'),
         url(fonts_path + '' + path + '.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
